/*
*   General
*/

:root{

    font-family: 'Poppins', sans-serif;
    --color-fondo: #E0E1DD;
    --color-primario: #0D1B2A;
    --color-secundario: #415A77;
    --color-detalles: #1B263B;
    --color-clarito: #778DA9;
    background-color: var(--color-fondo);

}

body{
    margin: 0;
    padding: 0;
    color: var(--color-primario);
}

.HeaderPrincipal{

    position: fixed;
    top: 0;
    width: 100%;
    color: var(--color-primario);
    background-color: var(--color-fondo);

}

.HeaderPrincipal-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.HeaderPrincipal-nav-name{
    font-weight: 700 ;
    font-size: 1.3em;
}

.HeaderPrincipal-nav-menu{
    width: 40px;
    height: 30px;
}

/*
*   index.html
*/

.BodyIndex{

    height: 100vh;
    background-color: black;
}

.TituloBienvenida{

    color: white;
    font-weight: 200;
    font-size: 400%;
    margin: 0;

}

.Explorar{
    color: white;
}

/*
*  Home
*/



.ImgenProyecto{
    width: 100%;


}

.ChipsFiltro{

    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 10px 5px 20px 5px; 

}

.ChipsFiltro-chip{
    color: var(--color-fondo);
    background-color: var(--color-clarito);
    padding: 0.7rem;
    border-radius: 10px;

}

.ChipsFiltro-chip--inverse{
    background-color: var(--color-primario);
}



/*
*   Utilidades 
*/

.u-centrar {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

