/*---------------------
*
*   Ajustes generales
*
-------------------------*/

/*Establezco tipografía y un color de fondo para todo el proyecto*/
:root {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

/* Hago un reset de todos los elementos body */
body {
    margin: 0;
    padding: 0;
    color: white;
}

/* Propiedades que dan forma al header que se mantendrá entré páginas*/
.HeaderPrincipal {

    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
    z-index: 1;
    height: 85px;
    background-color: black;

}

/* nav con nombre + menú*/
.HeaderPrincipal-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.HeaderPrincipal-nav-name {
    font-weight: 700;
    font-size: 1.5em;

}

.HeaderPrincipal-nav-menu {
    width: 40px;
    height: 30px;
}

/*menu desplegable*/
.HeaderPrincipal-sections {
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
}


.HeaderPrincipal-sections-lista {
    list-style-type: none;
    margin: 5px;

}


.HeaderPrincipal-sections-lista-link {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    display: block;
    padding: 5px;


}

/*---------------------
*
*   index.html
*
-------------------------*/

/* Usamos este pseudo-elemento after para añadir el símbolo del cursor después del caracter*/
#titIndex::after {
    content: '|';
    display: inline-block;
    animation: parpadeo 1s infinite;
}

/*Animación de parpadeo que manipula la opacidad del elemento para hacer que vaya aparenciendo y desapareciendo*/
@keyframes parpadeo {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* CSS base que aplica a todo el cuerpo del index */
.BodyIndex {

    height: 100vh;
    background-color: black;
}

/* Ajustes del texto con animación */
.BodyIndex-tituloBienvenida {

    color: white;
    margin: 0;
    width: 300px;
    font-weight: 100;
    font-size: 3em;

}

/* Ajustes del botón que enlaza con la home */
.BodyIndex-explorar {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
    text-decoration: none;
}


.BodyIndex-explorar-texto {
    padding: 20px;
    border-radius: 10px;
    font-size: 2.5em;
    color: white;
    font-weight: 600;
}

/* Ajustes del texto que actúa como fondo */
.BodyIndex-nombres {
    height: 98%;
    overflow: hidden;
}

.BodyIndex-nombres-nombre {
    opacity: 0.2;
    font-size: 10em;
    color: black;
    width: 100%;
    display: block;
    text-align: center;
}


/*---------------------
*
*   home.html
*
-------------------------*/

/* Ajustes para el contenedor de los proyectos */
.ContenedorProyectos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
    padding: 10px;
    position: relative;

}

/* título de la categoría */
.ContenedorProyectos-apartado {
    font-weight: 400;
}

/* contenido del proyecto */
.ContenedorProyectos-proyecto {
    position: relative;
}

/* div negro que añade el efecto de desenfoque en la parte superior de la imagem */
.ContenedorProyectos-proyecto-fondo {
    width: 110%;
    height: 40px;
    position: absolute;
    background-color: black;
    filter: blur(25px);
    left: -20px;
    top: -10px
}

/* título del proyecto */
.ContenedorProyectos-proyecto-titulo {
    font-weight: 200;
    margin: 0;
    padding: 5px 20px 0px 5px;
    color: white;
    position: absolute
}

/* imagen del proyecto */
.ContenedorProyectos-proyecto-imagen {
    width: 100%;
}


/* display de las etiquetas o keywords del proyecto */
.ChipsFiltro {

    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 10px 5px 20px 5px;
    overflow: auto;
}

/* modificador del display de las etiquetas o keywords del proyecto para ajustarlo al menú de filtrado */
.ChipsFiltro--filtrado {

    padding: 10px;
    gap: 5px;
    justify-content: space-around;


}

/* etiquetas o keywords del proyecto */
.ChipsFiltro-chip {
    color: black;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.7em;

}

/* menú de filtrado */
.Filtros {
    position: fixed;
    bottom: 0;
    height: 300px;
    width: 80%;
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
}

/* título del menú de filtrado */
.Filtros-tit {
    display: block;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* flecha que permite mostrar u ocultar el menú */
.Filtros-tit-flecha {
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    width: 25px;
    height: 50px;
    left: -27px;
    top: 40%
}

/* fbotón que permite filtrar */
.Filtros-tit--search {
    width: 20%;
    border: 1px solid white;
    display: block;
    margin: auto;
    padding: 20px;
    margin-top: 20px;


}

/* Añadido un hover al botón de filtrar*/
.Filtros-tit--search:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Etiquetas con las categorías del menú de filtrado*/
.Filtro {
    color: white;
    border: 1px solid white;
    padding: 0.7rem;
    border-radius: 10px;
}

/*---------------------
*
*   proyecto.html
*
-------------------------*/

/* Ajustes del contenedor principal para situarlo bajo el header*/
.ContainerProyecto {
    margin-top: 75px;
}

/* Imagen del proyecto como banner y del contenido multimedia  */
.ContainerProyecto-imagen {
    width: 100%
}

/* Sección donde se listarán todos los datos del proyecto */
.ContainerProyecto-datos {
    padding: 20px;
    text-align: justify;
}

/* Título del proyecto seleccionado */
.ContainerProyecto-datos-tit {
    font-size: 200%;
    font-weight: 600
}

/* Ajustes para la visualización de los datos*/
.ContainerProyecto-datos-apartado {
    font-size: 140%;
    font-weight: 300
}

/* Ajustes de posicionamiento del párrafo de descripción */
.ContainerProyecto-datos-descripcion {
    margin-top: 12px
}

/* Ajustes del listado de detalles técnicos */
.ContainerProyecto-datos-lista {
    padding: 12px;
    margin: 0
}

/* Ajustes de cada elemento de la lista de detalles técnicos*/
.ContainerProyecto-datos-lista-elemento {
    margin-bottom: 10px;
}

/* Ajustes de posición de las flechas del carrusel*/
.ContainerProyecto-datos-flechas {
    display: flex;
    justify-content: space-around;
}

/* Tamaño de las flechas*/
.ContainerProyecto-datos-flechas-flecha {
    width: 40px;
}


/*---------------------
*
*   contacto.html
*
-------------------------*/


/* Ajustes del contenedor de toda la información*/
.ContainerContacto {
    padding: 20px;
    margin-top: 70px;
}

/* Ajustes de la imagen  */
.ContainerContacto-imagenPerfil {
    width: 100%;
    border-radius: 10px;
}

/* Ajustes del display de los datos personales */
.ContainerContacto-datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Ajustes de los datos mostrados */
.ContainerContacto-datos-dato {
    margin-top: 10px;
    width: 300px;
}

/* Ajuste de fuente para subtítulos */
.ContainerContacto-datos-dato-subTit {
    font-size: 0.9em;
    font-weight: 100;
}

/* Ajuste de fuente para segundos subtítulos */
.ContainerContacto-datos-dato-subTit--small {
    font-size: 0.8em;
}

/* Modificador de los datos mostrados para las categorías de Estudios, Experiencia Laboral y Competencias*/
.ContainerContacto-datos-dato--sinLimite {
    margin-top: 10px;
    width: 100%;
}

/* Ajuste para los apartados con información desplegable */
.ContainerContacto-datos-dato-desplegable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Ajuste de tamañao del icono para desplegar la info */
.ContainerContacto-datos-dato-desplegable-icono {
    width: 20px;
    height: 20px;
}

/* Ajuste de posicionamiento para el apartado final con las RRSS y el botón de contacto */
.ContainerContacto-datos-contacto {
    margin-top: 10px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Ajustes del botón de contacto*/
.ContainerContacto-datos-contacto-boton {
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    border: 1px solid white;
    background-color: black;
    color: white;
}

/* Ajustes del contenedor que muestra el tecto "Búscame en RRSS" */
.ContainerContacto-datos-contacto-buscar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}

/* Div que hace función de línea blanca */
.ContainerContacto-datos-contacto-buscar-linea {
    height: 2px;
    width: 30px;
    background-color: white;
}

/* Iconos de las redes sociales */
.ContainerContacto-datos-contacto-icon {
    width: 30px;
    height: 30px;
}

/* Ajustes del contenedor que muestra el formulario de contacto */
.FormularioContacto {
    width: 95%;
    height: 100%;
    background-color: black;
    font-size: 1.2em;
    overflow: auto;
    z-index: 1;
}
/* Ajustes de los inputs del formulario */
.FormularioContacto-entradas {
    padding: 2rem;
    width: 75%;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1em;
    margin: 0.8em
}

/* Modificador de los ajustes de los inputs del formulario para el campo de nombre y apellidos */
.FormularioContacto-entradas--nombre {

    padding: 2rem;
    width: 90%;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1em;
    margin: 0.8em
}

/* Ajustes para todas las label*/
label {
    margin: 0.8em
}

/* Ajustes del textarea  */
.FormularioContacto-entradaTexto {

    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 1rem;
    margin: 0.8em
}

/* Ajustes del botón de enviar */
.FormularioContacto-boton {
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 1rem;
    margin: 0.8em
}

/* Ajustes del placeholder en los inputs */
.FormularioContacto-entradas::placeholder {
    color: white;

}


/*---------------------
*
*   Utilidades 
*
-------------------------*/

/* Centra el elemento a la mitad de la pantalla*/
.u-centrar {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Centra el elemento en la parte superior + transición   */
.u-posTop {
    position: fixed;
    left: 50%;
    top: -10%;
    transform: translate(-50%, -50%);
    transition: top 0.5s;
}

.u-posTop.active {

    top: 10%;

}

/* Efecto de desenfoque del fondo */
.u-blur {
    filter: blur(2px);
}

/* Permite ponerle un trazo alrededor del texto */
.u-bordeTexto {
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000, 0 -2px 2px #000,
        1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
}

.u-bordeTexto--white {
    text-shadow: 2px 0 2px #fff, -2px 0 2px #fff, 0 2px 2px #fff, 0 -2px 2px #fff,
        1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;
}

/* Ajustes para el posicionamiento de elemntos */
.u-margin0 {
    margin: 0;
}

.u-marginTop5 {
    margin-top: 5px;
}

.u-marginBottom5 {
    margin-bottom: 20px;
}

.u-marginBottom10 {
    margin-bottom: 10px;
}


.u-marginLeft5 {
    margin-left: 10px;
}

.u-paddingTop5 {
    padding-top: 5px;
}

/* Especifica un display flex en columnas */
.u-flexColumn {
    display: flex;
    flex-direction: column;
}

/* Elimina la decoración de enlaces */
.u-notDecorar {
    text-decoration: none;
    color: white
}


/*visibilidad del menu*/
.show {
    height: 0px;
    transition: height 0.4s;
    overflow: hidden;
}

.show.active {
    height: 110%;

}

/*visibilidad de la información en el contacto*/
.showI {
    height: 0px;
    transition: height 0.6s;
    overflow: hidden;
    background-color: rgb(43, 42, 42);
    padding-left: 10px;
}

/* Estudios */
.showI.activeE {
    height: calc(48px * 2.6);


}
/* Experiencia Laboral */
.showI.activeL {
    height: calc(70px * 3.3);

}

/* Competencias */
.showI.activeC {
    height: calc(100px * 2.8);

}

/*visibilidad general*/
.isnot_shown {

    display: none;
}


/*filtros seleccionados*/
.button_active {
    background-color: white;
    color: black;
}

/*visibilidad del filtrado*/
.showFiltro {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(60%, -50%);
    transition: all 0.5s;

}

.showFiltro.active {

    transform: translate(-50%, -50%);

}

/* Ajustes para las publicaciones de instagram de algunos proyectos*/
.insta {
    padding: 20px;
    display: flex;
    gap: 10px;
    overflow: auto;


}

/*---------------------
*
*   Ajustes para diseño responsive
*
*   las reglas CSS modificadas son explicadas anteriormente por lo que no se describe su comportamiento en este apartado
-------------------------*/

/* Dispositivos pequeños */
@media(max-width: 400px) {

    .Filtros {

        height: 350px;

    }

}

/* Dispositivos medianos */
@media(min-width: 800px) {

    .ContenedorProyectos {

        flex-direction: row;
    }

    #FallaSection {
        width: 50%;
    }

    #CeiSection {
        width: 50%;
    }

    .showFiltro {
        transform: translate(61%, -50%);
    }

    .ContainerContacto {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ContainerContacto-imagenPerfil {
        width: 60%;
        margin-bottom: 40px;

    }

    .ContainerContacto-datos {

        font-size: 1.4em;
        padding: 40px;

    }

    .showI.activeE {
        height: calc(48px * 2.8);


    }

    .showI.activeL {
        height: calc(70px * 4.2);

    }

    .showI.activeC {
        height: calc(100px * 3.9);

    }

    .ContainerContacto-datos-contacto-buscar {

        width: 300px;
    }

    .HeaderPrincipal-nav-name {
        font-size: 2.5em;
    }

    .HeaderPrincipal-nav-menu {
        width: 50px;
        height: 50px;
    }

    .HeaderPrincipal-nav {
        background-color: black;
    }



    .HeaderPrincipal-sections-lista {
        font-size: 1.2em;
    }

    .FormularioContacto-entradas {
        width: 80%;

    }

    .FormularioContacto-entradaTexto {
        width: 84%;
    }

}

/* Dispositivos grandes */
@media(min-width: 1200px) {


    .ContenedorProyectos {
        margin-top: 60px;
    }

    .ContenedorProyectos-proyecto-titulo {
        font-size: 2em;
    }

    .ContenedorProyectos-apartado {
        font-size: 1.5em;
    }


    .ChipsFiltro {
        font-size: 1.5em;
    }

    .ContenedorProyectos-proyecto-fondo {
        height: 79px;
        filter: blur(50px);
    }



    .Filtros-tit-flecha {

        width: 40px;
        height: 60px;
        left: -42px;

    }

    .showFiltro {
        transform: translate(62.5%, -50%);
    }

    .u-blur {
        filter: blur(10px);
    }


    .ContainerProyecto-imagen {
        width: 90%;
        display: block;
        margin: auto;

    }

    #multiIMG {
        width: 60%;
    }

    .insta {
        justify-content: space-around;
    }


    .showI.activeE {
        height: calc(48px * 3.1);


    }

    .showI.activeL {
        height: calc(70px * 4.3);

    }

    .showI.activeC {
        height: calc(100px * 4);

    }

    .ContainerContacto {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }

    .ContainerContacto-datos {

        overflow: auto;
        height: 73vh;
        width: 70%;
    }

    .ContainerContacto-imagenPerfil {
        margin-top: 40px;
        width: 25%;

    }


    .ContainerContacto-datos-dato {
        margin-top: 10px;
        width: 50%;
    }

    .FormularioContacto {
        width: 100%;
    }

    .FormularioContacto-entradas {
        width: 92%;

    }

    .FormularioContacto-nombre {
        width: 48%;
    }

    .FormularioContacto-entradaTexto {
        width: 94%;
    }


}