/*
*   General
*/

:root {

    font-family: 'Poppins', sans-serif;
    --color-fondo: #E0E1DD;
    --color-primario: #0D1B2A;
    --color-secundario: #415A77;
    --color-detalles: #1B263B;
    --color-clarito: #778DA9;
    background-color: black;

}

body {
    margin: 0;
    padding: 0;
    color: white;
}

.HeaderPrincipal {

    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
    z-index: 1;
    height: 70px;
    background-color: black;

}

.HeaderPrincipal-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.HeaderPrincipal-nav-name {
    font-weight: 700;
    font-size: 1.5em;
}

.HeaderPrincipal-nav-menu {
    width: 40px;
    height: 30px;
}

.HeaderPrincipal-sections {
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
}

.HeaderPrincipal-sections-lista {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
}


.HeaderPrincipal-sections-lista-link {
    text-decoration: none;
    color: white;
}

/*
*   index.html
*/

.BodyIndex {

    height: 100vh;
    background-color: black;
}

.TituloBienvenida {

    color: white;
    font-weight: 200;
    font-size: 400%;
    margin: 0;

}

.Explorar {
    color: white;
}

/*
*  Home
*/


.ContenedorProyectos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
    padding: 10px;
    position: relative;

}

.ContenedorProyectos-apartado {
    font-weight: 400;
}

.ContenedorProyectos-proyecto {
    position: relative;
}

.ContenedorProyectos-proyecto-fondo {
    width: 110%;
    height: 40px;
    position: absolute;
    background-color: black;
    filter: blur(25px);
    left: -20px;
    top: -10px
}

.ContenedorProyectos-proyecto-titulo {
    font-weight: 200;
    margin: 0;
    padding: 5px 20px 0px 5px;
    color: white;
    position: absolute
}

.ContenedorProyectos-proyecto-imagen {
    width: 100%;
}


.ChipsFiltro {

    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 10px 5px 20px 5px;
    margin-bottom: 20px;

}

.ChipsFiltro--filtrado {

    padding: 10px;
    gap: 5px;

}

.ChipsFiltro-chip {
    color: black;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.7em;

}

.ChipsFiltro-chip--inverse {
    background-color: var(--color-primario);
}


.Filtros {
    position: fixed;
    bottom: 0;
    height: 25%;
    width: 80%;
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
}

.Filtros-tit {
    display: block;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    width: 100%;
}



.Filtro {
    color: white;
    border: 1px solid white;
    padding: 0.7rem;
    border-radius: 10px;
}



/*
*   Utilidades 
*/

.u-centrar {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.u-blur {
    filter: blur(2px);
}

.u-bordeTexto {
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000, 0 -2px 2px #000,
        1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
}

/*visibilidad del menu*/
.show {
    height: 0px;
    transition: height 0.4s;
    overflow: hidden;
}

.show.active {
    height: 100%;

}

/*visibilidad general*/
.isnot_shown {

    display: none;
}

/*filtros seleccionados*/
.button_active {
    background-color: white;
    color: black;
}

/*visibilidad del filtrado*/
.showFiltro {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(60%, -50%);
    transition: all 0.5s;

}

.showFiltro.active {

    transform: translate(-50%, -50%);

}

.insta {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}